:root{
    --header: rgb(125, 248, 176);
    --background1 : rgb(252, 219, 211);
    --background2 : rgb(244, 202, 154);
}

body{
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(var(--background1), var(--background2));
    background-color: var(--background);
}

p{
    margin: 0;
}

.header{
    display: flex;
    justify-content: start;
    padding: 2%;
    padding-left: 5%;
    background-color: var(--header);
}

.header p{
    font-size: 200%;
    font-weight: bold;
}

.books{
    display : grid;
    gap: 2%;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding: 2%;
}

.bookCard{
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    background-color: whitesmoke;
    border-radius: 12px;
}

.bookCard p:first-child {
    font-size: 125%;
    font-weight: bold;
}

.bookCard p:last-child{
    font-size: 80%;
}

.addButton{
    display: flex;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    order: 4
}

.addButton img{
    width: 50px;
    height: 50px;
}
