:root{
    --header: rgb(160, 251, 198);
    --background1 : rgb(252, 219, 211);
    --background2 : rgb(244, 202, 154);
}

body{
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(var(--background1), var(--background2));
    background-color: var(--background);
}

p{
    margin: 0;
}

.header{
    display: flex;
    background-color: var(--header);
    justify-content: start;
    padding: 2%;
    padding-left: 5%;
}

.header p{
    font-size: 200%;
    font-weight: bold;
}

.books{
    display : grid;
    gap: 2%;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding: 2%;
}

.bookCard{
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    background-color: rgb(255, 244, 244);
    border-radius: 12px;
}

.bookCard p:first-child {
    font-size: 125%;
    font-weight: bold;
}

.bookCard p:last-child{
    font-size: 80%;
}
