:root{
    --gradient1 : red;
    --gradient2 : rgb(243, 187, 83);
    --background : rgb(252, 219, 211);
}

body{
    margin: 0;
    background-color: var(--background);
}

p{
    margin: 0;
}

.header{
    display: flex;
    background-image: linear-gradient(var(--gradient1), var(--gradient2));
    justify-content: start;
    padding: 2%;
    padding-left: 5%;
}

.header p{
    font-size: 200%;
    font-weight: bold;
}

.books{
    display : grid;
    gap: 2%;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.bookCard{
    background-color: whitesmoke;
}
